apiVersion: v1
kind: ConfigMap
metadata:
  name: movieworld-config
data:
  datasource.url: "jdbc:mysql://mysql-service:3306/movieworld?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
